@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

.container-custom {
  @apply max-w-7xl mx-auto px-3 py-6 md:px-6
}

.marker-wrapper {
  position: relative;
  width: 32px;
  height: 32px;
}

.marker-icon {
  position: relative;
  z-index: 10;
  font-size: 28px;
  line-height: 1;
}

.marker-pulse {
  position: absolute;

  left: 35%;
  top: 85%;

  width: 16px;
  height: 16px;

  border-radius: 9999px;

  background: rgba(59, 130, 246, 0.4);

  transform: translate(-50%, -50%);
  animation: markerPulse 2s infinite;
}

.marker-pulse-delay {
  animation-delay: 1s;
}

@keyframes markerPulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
  }

  100% {
    transform: translate(-50%, -50%) scale(5);
    opacity: 0;
  }
}

@keyframes markerPulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
  }

  100% {
    transform: translate(-50%, -50%) scale(5);
    opacity: 0;
  }
}